@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", "sans-serif";
}

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.tox-tinymce {
  border: 1px solid #3a3a43 !important;
}

.tox .tox-editor-header,
.tox .tox-menubar,
.tox .tox-toolbar-overlord,
.tox .tox-toolbar__primary,
.tox .tox-edit-area__iframe,
.tox .tox-statusbar,
.tox .tox-toolbar__overflow--open {
  background-color: #1c1c24 !important;
}

.tox .tox-menubar button,
.mce-content-body {
  color: white !important;
}

.tox .tox-toolbar__primary button svg,
.tox .tox-toolbar__group .tox-tbtn svg {
  fill: white;
}

.tox .tox-statusbar {
  border: none !important;
}

.ant-popconfirm-buttons button:last-child {
  background-color: #22a6b3;
}

.ant-popconfirm-buttons button:last-child:hover {
  background-color: #eb4d4b !important;
}

@media only screen and (max-width: 768px) {
  .blog-page iframe {
    width: 450px;
  }
}

@media only screen and (max-width: 640px) {
  .blog-page iframe {
    width: 300px;
    height: 260px;
  }
}

figure img {
  margin: 0 auto;
}

figure figcaption {
  text-align: center;
  /* background-color: #d2c8c8; */
  color: #878787;
  font-size: 14px;
  padding: 6px;
}

.tox .tox-dialog__iframe.tox-dialog__iframe--opaque {
  background-color: #1c1c24 !important;
}

::-webkit-scrollbar {
  height: 3px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.donation-list::-webkit-scrollbar {
  width: 3px;
}

.dark .nav-drawer {
  background-color: #000000 !important;
}

.dark .ant-drawer-close {
  color: red;
}

.dark .ant-drawer-close:hover {
  color: red;
}

.ant-switch {
  background: rgba(0, 0, 0, 0.45);
}

.dark .modal-show .ant-modal-content {
  background-color: #111111 !important;
  color: #fff;
}

.dark .ant-skeleton-image,
.dark .ant-skeleton-avatar,
.dark .ant-skeleton-title,
.dark .ant-skeleton-paragraph li {
  background-color: #3d3d3d !important;
}
.dark .modal-update .ant-modal-title {
  background-color: #111111 !important;
  color: #fff;
}
.dark .modal-update .ant-modal-content {
  background-color: #111111 !important;
}

/* css for post */
.post-detail h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.1px;
  margin-bottom: 8px;
  margin-top: 18px;
  text-align: left;
  line-height: 1.5 !important;
}

.post-detail ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-top: 30px;
}

.ant-modal-content .ant-modal-close {
  color: #111111 !important;
  background-color: transparent;
}

.dark .ant-modal-content .ant-modal-close {
  color: white !important;
}

.ant-modal-content .ant-modal-close:hover {
  color: #009432 !important;
  background-color: #3a3a43;
}

.ant-modal-root .ant-modal-mask,
.ant-modal-root .ant-modal-wrap {
  z-index: 88;
}

.lock {
  position: relative;
  pointer-events: none;
  overflow: hidden;
}

.lock::before {
  content: "🔒";
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.lock::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

.swiper-slide img {
}

.swiper.swiper-horizontal {
  position: unset;
}

.swiper-horizontal .swiper-button-prev,
.swiper-horizontal .swiper-button-next {
  top: 14px;
  left: unset;
}
.swiper-horizontal .swiper-button-next {
  right: 0;
}
.swiper-horizontal .swiper-button-prev {
  right: 80px;
}
.swiper-horizontal .swiper-button-prev::after,
.swiper-horizontal .swiper-button-next::after {
  font-size: 12px;
}

.ant-pagination .ant-pagination-item a {
  color: #111111;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #111111;
}

.ant-pagination .ant-pagination-prev svg {
  fill: #111111;
}

.ant-pagination .ant-pagination-prev.ant-pagination-disabled svg {
  fill: rgb(112, 112, 112);
}

.ant-pagination .ant-pagination-next svg {
  fill: #111111;
}
